@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    SRH Hochschule Heidelberg,<br />
    Ludwig-Guttmann-Straße 6 <br />
    69123, Heidelberg<br />
    Germany<br />
    <abbr title="Phone">P:</abbr>
    +4917930689114
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:krkartik89@hotmail.com">krkartik89@hotmail.com</a><br />
</address>