@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Learning Management System Examination Prototype</h1>
    <p class="lead">This application provides an Adaptive E-Learning examination cockpit.</p>
</div>

<div class="row">
    <strong>Please @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) for starting the examination.</strong>
</div>